body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid: 150px 50px 1fr 100px/100px 1fr 100px;
  margin: 0px;
  background-image: url("images/icecave/icecave.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Fredoka One", cursive;
}

.title {
  grid-area: 1/2/2/3;
  font-size: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  grid-area: 2/2/3/3;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.time {
  font-size: 2vh;
}

canvas {
  grid-area: 3/2/4/3;
  border: 2px solid black;
  border-radius: 10px;
  transition: 200ms;
}

canvas.inactive {
  transform: scale(0);
}

.gameOver {
  width: 30vw;
  height: 20vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%) scale(0);
  transition: 200ms;
  border: 2px solid black;
  border-radius: 10px;
  display: none;
  background-image: url("images/Outer_space_cats_rainbows_nyan_cat_1920x1200.jpg");
  background-size: cover;
  background-position: 25% 85%;
  color: white;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restart {
  border-radius: 20px;
  background-color: white;
  color: #013466;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em 1em;
}

.restart:hover {
  animation: wiggle;
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.gameOver.active {
  transform: translate(-50%, -40%) scale(1);
}
